.transparent-fading {
    background: linear-gradient(to right, rgba(0, 135, 25, 0.649), rgba(10, 10, 10, 0.974));
}

.navbar-nav .nav-link {
    margin-left: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: light;
    text-transform: uppercase;
    transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.4s ease;
    padding: 30px;
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 30px;
}

.company-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin: 20px;
    padding: 10px 20px;
    border: 2px groove #ffffff;
    border-radius: 10px;
    margin-right: 50px;
    transition: background-color 0.6s ease, border-radius 0.6s ease, font-size 0.6s ease, color 0.6s ease;
}

.company-name:hover {
    background-color: #ffffff;
    color: #0da00db3;
    border-radius: 35px;
    font-size: 35px;
}

.login-container {
    background-color: #0a6a0a91;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container label {
    font-weight: bold;
}

.login-container input[type="number"],
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #ff0000;
}

.login-container:hover {
    background-color: #0e3c10db;
    border-radius: 30px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acc-left {
    flex: 1;
    background-color: #ffc80098;
    /* Example background color */
    border: 4px double #038e2cbd;
    /* Example border */
    padding: 20px;
    /* Example padding */
    transition: background-color ease 0.4s, border ease 0.4s;
}

.container-acc-left h2 {
    color: #ff0000;
}

.container-acc-left:hover {
    flex: 1;
    background-color: #e1b207a4;
    /* Example background color */
    border: 4px double #ffffffd5;
    /* Example border */
}

.container-acc-left> #accDivButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: rgba(37, 100, 0, 0.753);
    margin: 2px;
    border-bottom: 6px groove rgba(37, 100, 0, 0.753);
    border-top: 6px groove rgba(37, 100, 0, 0.753);
    border-radius: 20px;
    transition: background-color 0.6s ease, border-radius 0.6s ease, font-size 0.6s ease, color 0.6s ease, border 0.6s ease;
}

.container-acc-left> #accDivButton:hover {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #ffffff;
    margin: 2px;
    border-bottom: 6px groove #ffffff;
    border-top: 6px groove rgb(255, 255, 255);
    border-radius: 50px;
}

.container-acc-left>#accDivData {
    color: black;
}