.transparent-fading {
    background: linear-gradient(to right, rgba(0, 135, 25, 0.649), rgba(10, 10, 10, 0.974));
}

.navbar-nav .nav-link {
    margin-left: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: light;
    text-transform: uppercase;
    transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.4s ease;
    padding: 30px;
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 30px;
}

.company-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin: 20px;
    padding: 10px 20px;
    border: 2px groove #ffffff;
    border-radius: 10px;
    margin-right: 50px;
    transition: background-color 0.6s ease, border-radius 0.6s ease, font-size 0.6s ease, color 0.6s ease;
    box-shadow: 0 10px 100px rgb(0, 0, 0);
}

.company-name:hover {
    background-color: #ffffff;
    color: #0da00db3;
    border-radius: 35px;
    font-size: 35px;
}

.login-container {
    background-color: #0a6a0a91;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 10px 150px rgb(0, 84, 0);
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container label {
    font-weight: bold;
}

.login-container input[type="number"],
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #ff0000;
}

.login-container:hover {
    background-color: #0c440c91;
    border-radius: 30px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acc-left {
    background-color: #5757579b;
    /* Example background color */
    border: 7px double #000000;
    /* Example border */
    padding: 20px;
    /* Example padding */
    border-radius: 20px;
    transition: border ease 0.4s;
}

.container-acc-left h2 {
    color: #ff0000;
}

.container-acc-left:hover {
    border: 7px double #ffffffd5;
}

.container-acc-left>#accDivHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #ffffff;
    margin: 2px;
    border-bottom: 6px groove #ffffff;
    border-top: 6px groove #ffffff;
    border-radius: 50px;
    box-shadow: 0 10px 150px rgb(255, 255, 255);
}

.container-acc-left>#accDivData {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 50px;
    border-bottom: 1px solid #ffffff;
}

.accDivDataRow {
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 18px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.accDivDataRow strong {
    width: 200px;
    font-weight: bold;
    margin-right: 25px;
}

.accDivDataRow span {
    flex-grow: 1;
}

.edit-container {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5757579b;
    border: 1px solid #ff9900;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 10px 100px rgba(255, 140, 0, 0.765);
}

.edit-container button {
    color: rgb(255, 191, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5757579b;
    border: 1px solid #ced4da;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 10px 150px rgb(0, 84, 0);
}

.carousel-container {
    width: 100%;
    max-width: 700px;
    /* Adjust the maximum width as needed */
    margin-left: 8%;
    border: 10px double rgba(0, 68, 0, 0.649);
    box-shadow: 0 10px 150px rgb(0, 84, 0);
    border-radius: 5px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Add a transition for opacity */
}

.carousel-images img.active,
.carousel-images img:first-child {
    /* Set the initial state of the first slide */
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px;
    border: double 1px rgb(191, 0, 255);
    box-shadow: 20px 25px 150px rgba(251, 151, 1, 0.708),
    20px 25px 150px rgba(255, 255, 255, 0.708), /* Right shadow */
        -20px -25px 150px rgba(0, 232, 12, 0.708); /* Left shadow */
}

.about-details {
    margin-bottom: 30px;
}

.about-details h2,
.about-owners h2,
.about-company h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about-owners p {
    margin-bottom: 10px;
}

.about-company p {
    line-height: 1.6;
}