{% extends 'default.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="about-container" style="margin-top: 5%;">
    <h1 class="center-container" style="margin-bottom: 5px;"><strong> - About Us - </strong></h1>
    <div class="about-details">
        <h2>Contact Information</h2>
        <p><strong>Headquarters:</strong> 10905 Henri-Bourassa East Boul, Montréal, QC H1C 1H1</p>
        <p><strong>Phone:</strong> 514-648-8461</p>
        <p><strong>Email:</strong> events-msp@hotmail.ca </p>
    </div>
    <div class="about-owners">
        <h2>Owners</h2>
        <p>Felix Morin</p>
        <p>Olivier Malo</p>
        <p>Abdouramahne Diallo</p>
    </div>
    <div class="about-company">
        <h2>Our Company</h2>
        <p>At Event MSP, our goal is to create immersive and memorable experiences that leave a lasting impression on
            our audience. Whether you're a music enthusiast, comedy lover, or theater aficionado, we strive to cater to
            a diverse range of interests and tastes. Join us on a journey of discovery and celebration as we continue to
            push the boundaries of entertainment and deliver extraordinary experiences for audiences around the world.
            Welcome to Event MSP, where every moment is an opportunity to create magic.

        </p>
    </div>
</div>
{% endblock %}