{% extends "default.html" %}

{% block title %} Account {% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px; display: flex;">
    <div class="container-acc-left"
        style="flex-grow: 1; width: 60%; display: flex; flex-direction: column; box-shadow: 0 10px 100px rgba(251, 151, 1, 0.708);">
        <a class="center-container" id="accDivHeader" style="margin-bottom: 50px;">My Account</a>
        <div class="accDivDataRow"><strong>Full Name:</strong> <span>{{ user.nom_complet }}</span></div>
        <div class="accDivDataRow"><strong>Username:</strong> <span>{{ user.username }}</span></div>
        <div class="accDivDataRow"><strong>Mail:</strong> <span>{{ user.courriel }}</span></div>
        <div class="accDivDataRow"><strong>Phone Number:</strong> <span>{{ user.phone }}</span></div>
        <div class="accDivDataRow"><strong>Age:</strong> <span>{{ user.age }}</span></div>
        <form class="center-container" action="{{ url_for('edit_account') }}" method="get" style="margin-top: 10px;">
            <input type="submit" value="Edit Account" class="btn btn-warning" style="margin-bottom: 10px;">
        </form>
        <form class="center-container" action="{{ url_for('delete_account') }}" method="post">
            <input type="submit" value="Delete Account" class="btn btn-danger">
        </form>
    </div>
    <div class="container-right" style="flex-grow: 1;">
        <div style="margin-left: 10%;">
            <p>Éventuellement nous allons rajouter les réservations faites par l'utilisateur, de même que leur statut
                (confirmé, en attente)</p>
        </div>
    </div>
</div>
{% endblock %}