{% extends "default.html" %}

{% block title %} Account {% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px; display: flex;">
    <!-- Left container -->
    <div class="container-acc-left" style="height: 600px;">
        <div style="border-bottom: 4px double rgb(6, 6, 6);"><strong>MY ACCOUNT :</strong></div>
        <div class="center-container">Full Name :</div>
        <div class="center-container">Username :</div>
        <div class="center-container">Mail :</div>
        <div class="center-container">Phone Number :</div>
        <div class="center-container">Age : </div>
    </div>
    <!-- Right container (optional) -->
    <div class="container-right">
        <!-- Your content for the right container goes here -->
        This container takes the whole right side of the page and occupies half of the page width.
    </div>
</div>
{% endblock %}