{% extends "default.html" %}

{% block title %} Account {% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px; display: flex;">
    <!-- Left container -->
    <div class="container-acc-left" style="height: 600px;">
        <a class="center-container" id="accDivHeader">My Account </a>
        <div id="accDivData">Full Name:<a style="justify-content: center; display: flex; text-align: center;">{{ user[1] }}</a></div>
        <div id="accDivData">Username: {{ user[3] }}</div>
        <div id="accDivData">Mail: {{ user[2] }}</div>
        <div id="accDivData">Phone Number: {{ user[6] }}</div>
        <div id="accDivData">Age: {{ user[5] }}</div>
    </div>
    <!-- Right container (optional) -->
    <div class="container-right">
        <!-- Your content for the right container goes here -->
        This container takes the whole right side of the page and occupies half of the page width.
    </div>
</div>
{% endblock %}